li {
  list-style: none;
}

.twitterUserImage {
  width: 80px;
  height: auto;
  margin: 1em;
}

// Marquee Style

.streamProfilePic {
  display: inline;
  width: 80px;
  height: auto;
  margin: 1em;
}

.marquee-container {
  padding:3px;
  border:1px solid #e6e6e6;
  width:100%;
  overflow:hidden;
}

.marquee{
  display:block;
  position:relative;
  width:240%;
  height:120px;
  animation:scroll 10s linear infinite;
  padding:3px;
}

.marquee:hover {
  animation-play-state: paused
}

/* Makes text move */
@keyframes scroll{
0% {left:140%;}
100% {left:-140%;}
}
