li {
  list-style: none;
}

.twitterUserImage {
  width: 80px;
  height: auto;
  margin: 1em;
}

// Marquee Style

.streamProfilePic {
  display: inline;
  width: 80px;
  height: auto;
  margin: 1em;
}

.ng-marquee {
  // width: 10000px;
}
//
// .marquee-container {
//   padding:3px;
//   border:1px solid #e6e6e6;
//   width:100%;
//   height: 150px;
//   overflow:hidden;
// }
//
// .marquee{
//   display:block;
//   position:relative;
//   width:6000%;
//   animation:scroll 14s linear infinite;
//   height: 100%;
//   padding:3px;
//   font-size: 2em;
// }
//
// .marquee:hover {
//   animation-play-state: paused
// }
//
// /* Makes text move */
// @keyframes scroll{
// 0% {left:200%;}
// 100% {left:-200%;}
// }
