
<div class="container">

  <header class="jumbotron hero-spacer">
    <h2>Welcome to my Twitter Ticker!</h2>
    <p>Create streaming tickers for live events.</p>
  </header>


  <p>
    Here at Twtitter Ticker, we provide engaging, customizable streaming twitter feeds for your live events. Simply fill out a form with some basic information and you're up and running. Display on screens around your venue and watch fans engage with you and your sponsors online via Twitter.
  </p>

  <p>
    Login or sign up, then go to the New Campaign page to get started.
  </p>

</div>
